.lkn-button {
    border-radius: 0.5rem;
    /*padding: 0.05rem 0.05rem 0.1rem 0.1rem; */
    padding: 0;
}

.lkn-sortable th {
    cursor: pointer;
}

.lkn-expand100 {
    width: 100%;
}

.lkn-empty-line-above {
    margin-top: 1rem;
}

.lkn-wide {
    width: 100%;
}

.lkn-color-panel {
    background-color: rgb(245, 245, 245);
}

.lkn-bottom-align {
    vertical-align: bottom;
}

.lkn-noform-frame,
.lkn-standard-panel,
.lkn-edit-panel,
.lkn-create-panel,
.lkn-show-panel,
.lkn-panel,
.lkn-nav-tab-panel {
    background-color: aliceblue;
    border-radius: 0.25rem;
}
.lkn-noform-text p {
    margin-bottom: 0.25em;
}
.lkn-noform-frame,
.lkn-noform-text,
.lkn-noform-panel,
.lkn-standard-panel,
.lkn-panel,
.lkn-edit-panel,
.lkn-create-panel,
.lkn-show-panel,
div.row  .lkn-nav-tab-panel {
    border: grey solid 0.07rem;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem rgb(240, 240, 240, 0.3);
}
fieldset.lkn-noform-text {
    background-color: white;
}
#main-content li.lkn-nav-tab-panel{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#main-content li.nav-item {
    border: solid 1px black;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: none;
}
#main-content li.lkn-nav-item-active {
    background-color: aliceblue;
}
div.lkn-nav-tab-panel,
ul.nav-tab-panel,
.lkn-filter,
.lkn-fieldset,
.lkn-form-table {
    margin: 0;
    padding: 1rem 1rem 0 1rem;
    border: 0.075rem black solid;
    border-radius: 0.25rem;
}
ul.nav-tab-panel + .lkn-fieldset {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.lkn-filter,
.lkn-fieldset,
.lkn-form-table {
    background-color: aliceblue;
}
.lkn-text-frame {
    background-color: aliceblue;
    border-radius: 0.25rem;
}
.lkn-header-frame {
    background-color: aliceblue;
}

.lkn-behind-filter {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.lkn-page-item.active .lkn-page-link {
    background-color: #007bff;
    border-color: #007bff;
}

.lkn-table {
    background-color: white;
    margin-top: 0.25rem;
    border: 0.1rem solid #888888;
}
.lkn-table tr, .lkn-table td, .lkn-table th {
    border: 0.1rem solid #888888;   
}
.lkn-table-no-border {
    border: none;
}
.lkn-table-no-grid tr, .lkn-table-no-grid th, .lkn-table-no-grid td{
    border: none;  
}
.lkn-table-no-body-grid tr, .lkn-table-no-body-grid td{
    border: none;  
}
.lkn-table-no-border tr, .lkn-table-no-border td, .lkn-table-no-border th {
    border: none; 
}
.lkn-text td, .lkn-text th  {
    padding: 0 0.5em;
}
.lkn-pagination-block {
    display: flex;
    background-color: aliceblue;
}

ul.lkn-pagination {
    margin-bottom: 0 !important;
}

.lkn-left-pagination-block {
    font-size: 80%;
    margin-left: auto;
    align-self: flex-end;
}

.lkn-compact-block {
    margin: 0 !important;
    padding: 0 !important;
}

.lkn-clear-both {
    clear: both;
}

.lkn-float-right {
    float: right;
    width: fit-content;
}
.lkn-float-left{
    float: left;
    width: fit-content;
}

.lkn-filter legend {
    width: auto;
    display: block;
    margin-top: -2em;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    font-size: 0.9em;
    background-color: inherit;
    border: 0.075rem black solid;
    border-radius: 0.25rem;
}

.lkn-field-error {
    color: red;
}

.lkn-icon-action {
    display: inline;
}

a.lkn-overview-cell,
a:visited.lkn-overview-cell,
a:link.lkn-overview-cell,
a:active.lkn-overview-cell {
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    height: 150px;
    /* link is not shown: */
    text-decoration: none;
    /* centers the square in the div */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.lkn-overview-cell>h2 {
    margin-top: 5px;
    font-size: 20px;
}

.lkn-overview-cell>div {
    font-size: 100px;
    margin-top: -20px;
}
a.lkn-overview-cell {
    overflow: hidden;
}
.lkn-logout {
    margin-left: auto;
}
#img-logo {
    height: 32px;
}
.lkn-left {
    margin-right: auto;
}
.lkn-center {
    margin: 0 auto;
    text-align: center;
    width: fit-content;
}
.lkn-text {
    border-radius: 0.25rem;
    padding: 1rem;
}
.lkn-text p{
    margin-bottom: 0.25em;
}
.lkn-align-right {
    text-align: right;
}
.lkn-align-left {
    text-align: left;
}
.lkn-align-center {
    text-align: center;
}
.lkn-header-frame h1, .text-header-frame h2, .text-header-frame h3 {
    margin-left: auto;
    margin-right: auto;   
    text-align: center;
}
.lkn-center-block {
    margin-left: auto;
    margin-right: auto;   
    text-align: center;
}
.lkn-audio-control {
    margin-left: 33%;
    max-width: fit-content;
}
.lkn-icon-1 {
    font-size: 1rem;
}
.lkn-icon-2 {
    font-size: 2rem;
}
.lkn-icon-4 {
    font-size: 4rem;
}
.lkn-arrows {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
b {
    font-weight: bolder;
}
.lkn-nav-button {
    font-size: 1.25rem;
}
#main-content > h1, #main-content >h2 {
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 0.75em;
    border-radius: 0.75rem;
    width:  fit-content;
}
.lkn-frame-indented {
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.75rem;
}