<!doctype html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{{ config('app.name', 'Laravel') }}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    @vite(['resources/sass/app.scss', 'resources/js/app.js'])
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/laraknife.css" rel="stylesheet">
    <link href="/css/{{ env('APP_THEME', 'purple') }}.css" rel="stylesheet">
    <link href="/css/PROJECT.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/laraknife.js"></script>
</head>
<body>
    <header>
        <nav id="lkn-header" class="navbar navbar-expand-md">
            <a class="navbar-brand" href="/menuitem-menu_main"><img id="img-logo" alt="Logo" src="/img/logo_64.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarTop" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @auth
                        <a class="nav-link" href="/page-startpage">Start</a>
                        @else
                        <a class="nav-link" href="/page-startpublic">Start</a>
                        @endauth
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/menuitem-menu_main">Verwaltung</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/page-showbyname/imprint/1141">{{ __('Imprint') }}</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/page-showbyname/privacy/1141">{{ __('Privacy') }}</a>
                    </li>
                </ul>
                <ul id="lkn-navbar-right" class="navbar-nav mr-auto lkn-logout">
                    @auth
                    <li class="nav-item border rounded-3">
                        <a class="nav-link" href="/user-edit-current">{{ session('userName') }}</a>
                    </li>
                    @endauth
                    <li class="nav-item border rounded-3">
                        <a class="nav-link" href="/user-logout">{{ __('Logout')  }}</a>
                    </li>
                </ul>
           </div>                
        </nav>
    </header>
        @yield('content')
</body>
</html>

